
<script>

function clickImage()
{
var src=document.getElementById("preview").src;

var link=src+".html";

window.location=link;
}

</script>

<script>
function changePosition(img)
{
var fromTop = window.pageYOffset || document.documentElement.scrollTop;
var heightHeadline = document.getElementById("headline").clientHeight;
var pos = fromTop-heightHeadline;

document.getElementById("preview").src=document.getElementById(img).src;

if (pos > 0)
document.getElementById("preview").style.marginTop=pos+"px";
else
document.getElementById("preview").style.marginTop="0px";

}

</script>

</div>
</div>

<br/>

</div>

</body>

</html>
